.blogItem {
    border-bottom: 1px solid lightgrey;
    margin:  15px 0px 15px 0px; 
    width: 100%;
}

.blogItem > h3, h4 {
    color: #4472c4;
}

.blogItem:hover > h4 {
    color: #000000;
}

.allBlogs {
    width: 100%;
    margin-left: -14px;
    padding: 0
}

.allBlogs a {
    text-decoration: none;
    color: inherit;
}
.allBlogs a:hover {
    text-decoration: none;
    color: inherit;
}