.introduction {
    font-style: italic;
    border-bottom: tomato;
    border-width: 10px;
}

.title {
    font-size: 400%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.headings {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

figcaption {
    text-align: center;
}

.bhead {
    padding: 10px 10px 10px 0px; 
    margin: 52px 0 10px 0px;
    text-align:left;
}