.featuredText {
    padding: 0px 0 8px 0;
}

.blogpill {
    border-radius: 25px;
    margin: 2px;
    border-color: transparent;
    padding: 6px 12px 6px 12px;
    background-image: linear-gradient(to right, #e0003d, #a100b7);
    border: 1px;
    white-space: nowrap;
    color: white;
}

.blogpill:hover {
    box-shadow: 0 0 10px #f200b1;
    color: white;
}

.projectpill {
    border-radius: 25px;
    margin: 2px;
    border-color: transparent;
    padding: 6px 12px 6px 12px;
    background-image: linear-gradient(to right, #2a36da, #0075ff);
    border: 1px;
    white-space: nowrap;
    color: white;
}

.projectpill:hover {
    box-shadow: 0 0 10px #0075ff;
    color: white;
}

.body {
    background-image: linear-gradient(to right, #111111, #222222);
    color: white;
}

hr {
    background-color: #333333;
}

.blogLink, .blogLink:hover {
    text-decoration: none;
    color: white;
}