:root {
    --brand-100: #207d42;
    --brand-300: #196634;
    --brand-500: #134f28;
    --brand-700: #0c351b;
}

.featuredText {
    padding: 0px 0 8px 0;
}

.paperpill {
    border-radius: 25px;
    margin: 2px;
    border-color: transparent;
    padding: 6px 12px 6px 12px;
    background-image: linear-gradient(to right, var(--brand-500), var(--brand-700));
    border: 1px;
    white-space: nowrap;
    color: white;
}

.paperpill:hover {
    box-shadow: 0 0 10px var(--brand-700);
    color: white;
}

.blogpill {
    border-radius: 25px;
    margin: 2px;
    border-color: transparent;
    padding: 6px 12px 6px 12px;
    background-image: linear-gradient(to right, var(--brand-100), var(--brand-300));
    border: 1px;
    white-space: nowrap;
    color: white;
}

.blogpill:hover {
    box-shadow: 0 0 10px var(--brand-300);
    color: white;
}

.projectpill {
    border-radius: 25px;
    margin: 2px;
    border-color: transparent;
    padding: 6px 12px 6px 12px;
    background-image: linear-gradient(to right, var(--brand-300), var(--brand-500));
    border: 1px;
    white-space: nowrap;
    color: white;
}

.projectpill:hover {
    box-shadow: 0 0 10px var(--brand-500);
    color: white;
}

.body {
    background-image: linear-gradient(to right, #111111, #222222);
    color: white;
}

hr {
    background-color: #333333;
}

.blogLink,
.blogLink:hover {
    text-decoration: none;
    color: white;
}

.gt1 {
    background: -webkit-linear-gradient(var(--brand-100), var(--brand-300));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gt2 {
    background: -webkit-linear-gradient(var(--brand-300), var(--brand-500));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gt3 {
    background: -webkit-linear-gradient(#AA771C, #ffc107);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gt4 {
    background: -webkit-linear-gradient(var(--brand-500), var(--brand-700));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paginationIcon {
    margin: 5px;
}

.pagination {
    display: flex;
    justify-content: left;
    align-items: left;
}

.pagination button {
    border-radius: 25px;
}

.paperLink {
    padding: 6px 12px 6px 12px;
}

.content {
    background-color: #f9f6ee;
}