.roboto {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.calligraffitti {
    font-family: 'Calligraffitti', cursive;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.big {
    font-size: 400%;
}

.bigger {
    font-size: 600%;
}

.biggest {
    font-size: 800%;
}

.huge {
    font-size: 1000%;
}

.gigantic {
    font-size: 3000%;
}

.collosal {
    font-size: 5000%;
}