ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  margin: 0 10px 0 0;
  text-decoration: none;
  font-size: x-large;
}