/*Navigation Bar styles/////////////////////////////////////////////////////////////////////////*/
#nav {
  background-color: rgba(0,7,13, 0.9);
  padding: 15px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 2000;
    -webkit-transition: color 0.5s;
    transition: 0.5s;   
}
#nav a {
  vertical-align: center;
  text-align: center;
  color: rgb(85,172,238);
}
#nav a:hover {
  color: #fff;
}
#nav ul {
    list-style-type: none;
    margin: 0;
}
#nav li {
    display: inline;
    padding: 10px;
    -webkit-transition: color 0.5s;
    transition: 0.5s;   
}
/*//////////////////////////////////////////////////////////////////////////////////////////////*/

/*General row styles*/
.row,
.row-fluid {
  margin-right: 0px;
  margin-left: 0px;
}
#br1 {
  background-color: rgb(220,220,220);
  font-size: 1px;
}

/*Custom Font Sizes*/
.big {
  font-size: 500%;
}
.small {
  font-size: 10px;
}

/*Custom Border Styles*/
.border-left {
  border-left: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(220,220,220);
}
.border-right {
  border-right: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(220,220,220);
}
.border {
  border: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(220,220,220);
}

/*Custom Button Styles*/
.btn {
  border-radius: 0;
}
.btn-primary {
  background-color: rgb(38,80,200);
  border-width: 2px;
  border-color: rgb(38,80,200);
    -webkit-transition: color 0.5s;
    transition: 0.5s; 
}
.btn-primary:hover {
  border-color: #000000;
  background-color: rgb(38,80,200);
}

/*Projects/////////////////////////////////////////////////////////*/
#projlist {
  height: 700px;
  overflow-y: auto;
  overflow-x:hidden;
}

#proj1close:hover, #proj2close:hover, #proj3close:hover {
  cursor: pointer;
}

#project1:hover, #project2:hover, 
#project3:hover, #project4:hover,
#project5:hover, #project6:hover,
#project7:hover, #project8:hover,
#project9:hover, #project10:hover {
  background-color: rgb(230,230,230);
}

/*Artworks Section Styles//////////////////////////////////////////*/
#heart {
  -webkit-transition: font-size 0.2s ease;
  -moz-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
  color:rgb(0,99,177)  
}
#heart:hover {
  font-size: 120%;
}

/*Education Section Styles/////////////////////////////////////////*/
#edu1, #edu2, #edu3 {
    padding: 10px;
    -webkit-transition: color 0.5s;
    transition: 0.5s;
}
#edu1:hover, #edu2:hover, #edu3:hover {
  background-color: rgb(230,230,230);
}

/*Media Queries////////////////////////////////////////////////////*/
@media (max-width: 768px) {
  #art {
    display: none;
  }
}
@media (min-width: 769px) {
  #art1 {
    display: none;
  }
}