#br3 {
  background-color: rgb(0,50,200);
  font-size: 3px;
}
#br1_white {
  background-color: #FFF;
  font-size: 1px;
}

#br1 {
  background-color: rgb(0,0,40);
  font-size: 1px;
}
.row,
.row-fluid {
  margin-right: 0px;
  margin-left: 0px;
}
.big {
  font-size: 500%;
}
.small {
  font-size: 10px;
}
.border-left {
  border-left: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(230,230,230);
}
.border-right {
  border-right: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(230,230,230);
}
/*SIDE MENU////////////////////////////////////////////////////*/
.menu-side {
  background-color: rgb(0,50,200);
  border-left: 1px solid #006633;
  color: #ffffff;
  position: fixed;
  top: 0;
  right: -255px;
  height: 100%;
  width: 255px;
  margin: 0px;
}

.menu {
  overflow-x:hidden;
  position:relative;
  left:0;
}
.menu-open {
  left:-255px;
}
.menu-open .menu-side {
  right:0;
}
.menu-side {
  -webkit-transition: right 0.2s ease;
  -moz-transition: right 0.2s ease;
  transition: right 0.2s ease;
}
.menu {
  -webkit-transition: left 0.2s ease;
  -moz-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
#menuLogo {
  padding: 40px;
}
@media (min-width: 320px) {
  #close {
    display: none;
  }
}
/*NAVIGATION BAR STYLES////////////////////////////////////////////////////*/
#logo {
  height: 50px;
  padding: 5px;
}
#nav a {
  vertical-align: center;
  text-align: center;
  color: #006633;
  font-size: 27px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
}
#nav li {
    display: inline;
    font-size: 14px;
    color: #ffffff; 
    padding: 18px;
    -webkit-transition: color 0.5s;
    transition: 0.5s;   
}
#nav li:hover {
  background-color: rgb(0,50,200);
}
/*////////////////////////////////////////////////////*/
#submenu1, #submenu2 {
  background-color: rgb(0,50,200);
  padding: 2px;
}
#submenu1 ul, #submenu2 ul {
    list-style-type: none;
    margin: 0;
}
#submenu1 li, #submenu2 li {
  padding: 10px;
  display: inline;
  font-size: 12px;
  color: #ffffff;
}
#submenu1 li:hover, #submenu2 li:hover {
  background-color: none;
}
@media (max-width: 768px) {
  #navList {
    display: none;
  }
  #submenu1 {
    display: none;
  }
  #submenu2 {
    display: none;
  }
  .menu-open #menu {
    display: none;
  }
}
#menu{
  height: 50px;
  padding: 5px;
}
#menu2{
  height: 50px;
  padding: 10px;
}

@media (min-width: 769px) {
  #menu {
    display: none;
  }
  .menu-open .menu-side {
    right:-255px;
  }
  .menu {
    left:0px;
  }
/*TYPOGRAPHY////////////////////////////////////////////////////////////*/
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
header {
  background-color: #ffffff;
}
a:hover, a:active, a:visited, a:link {
  text-decoration: none;
}
footer a:hover, a:active, a:visited, a:link {
  color: #ffffff;
}
p {
  text-align: justify;
}
.bg-danger {
  padding: 8px;
}
/*CUSTOM CLASSES///////////////////////////////////////////////////////*/
.fade {
   opacity: 0.9;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
   opacity: 1;
}