/*Navigation Bar styles/////////////////////////////////////////////////////////////////////////*/
body {
  overflow-x: hidden;
}

#nav {
  background-color: #141526;
  padding: 15px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  min-height: 0;
  z-index: 2000;
    -webkit-transition: color 0.5s;
    transition: 0.5s;  
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#nav a {
  vertical-align: center;
  text-align: center;
  color: rgb(85,172,238);
}
#nav a:hover {
  color: #fff;
  text-decoration: none;
}
#nav ul {
    list-style-type: none;
    margin: 0;
}
#nav li {
    display: inline;
    padding: 10px;
    -webkit-transition: color 0.5s;
    transition: 0.5s;   
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/
#mobnav {
  background-color: #141526;
  padding: 15px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  min-height: 0;
  z-index: 2000;
    -webkit-transition: color 0.5s;
    transition: 0.5s;  
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#menu-toggle {
  cursor: pointer;
}

.dropdown-menu{
  border-radius: 0;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/

#artimg {
  white-space: nowrap;
  list-style: none;
  padding: 2%;
  max-width: 1366px;
}

#artimg li {
  list-style: none;
  display: inline;
  padding: 1%;
}

#artpane {
  overflow-x: auto;
}

/*General row styles*/
.row,
.row-fluid {
  margin-right: 0px;
  margin-left: 0px;
}
#br1 {
  background-color: rgb(220,220,220);
  font-size: 1px;
}

/*Custom Font Sizes*/
.big {
  font-size: 500%;
}
.small {
  font-size: 10px;
}

/*Custom Border Styles*/
.border-left {
  border-left: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(220,220,220);
}
.border-right {
  border-right: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(220,220,220);
}
.border {
  border: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(220,220,220);
}

/*Custom Button Styles*/
.btn {
  border-radius: 0;
}
.btn-primary {
  background-color: black;
  border-width: 2px;
  border-color: rgb(85,172,238);
    -webkit-transition: color 0.5s;
    transition: 0.5s; 
}
.btn-primary:hover {
  border-color: white;
  background-color: black;
}

/*Projects/////////////////////////////////////////////////////////*/
/*#projlist {
  height: 700px;
  overflow-y: auto;
  overflow-x:hidden;
}*/

#proj1close:hover, #proj2close:hover, #proj3close:hover {
  cursor: pointer;
}

.project {
    padding:20px;
    border: rgb(85,172,238) solid 2px;
}
.project:hover {
    box-shadow: 0 0 50px rgb(85, 172, 238, 0.35);
    background-color: black;
}

.blog {
    padding:20px;
    border: rgb(214, 14, 14) solid 2px;
}
.blog:hover {
    box-shadow: 0 0 50px rgb(214, 14, 14, 0.6);
    background-color: black;
}

.art:hover {
    box-shadow: 0 0 30px rgb(255,215,0, 0.6);
}

.bigHeader {
    background-color:black;
    color: rgb(85,172,238);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.blogbigHeader {
    background-color:black;
    color: red;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.artbigHeader {
    background-color:black;
    color: gold;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.contactbigHeader {
    background-color:black;
    color: green;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*Media Queries////////////////////////////////////////////////////*/
@media (max-width: 480px) {
  #nav {
    display: none;
  }
}
@media (min-width: 481px) {
  #mobnav {
    display: none;
  }
}


#logolist {
  white-space: nowrap;
  list-style: none;
  padding: 2%;
  text-align: center;
  margin-top:100px;
}

#logolist li {
  list-style: none;
  display: inline;
  margin: 2%;
}

.mycode {
  padding: 2%;
  background-color: rgb(249,242,244);
  font-family: monospace;
  color: maroon;
  margin-bottom: 2%;
  border-left: 3px solid;
  overflow-x: auto;
}