/*Navigation Bar styles/////////////////////////////////////////////////////////////////////////*/
body {
  overflow-x: hidden;
}

#nav {
  background-color: #fff;
  padding: 15px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  min-height: 0;
  z-index: 2000;
    -webkit-transition: color 0.5s;
    transition: 0.5s;  
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#nav a {
  vertical-align: center;
  text-align: center;
  color: rgb(85,172,238);
}
#nav a:hover {
  color: rgba(0,7,13, 0.9);
}
#nav ul {
    list-style-type: none;
    margin: 0;
}
#nav li {
    display: inline;
    padding: 10px;
    -webkit-transition: color 0.5s;
    transition: 0.5s;   
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/
#mobnav {
  background-color: #fff;
  padding: 15px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  min-height: 0;
  z-index: 2000;
    -webkit-transition: color 0.5s;
    transition: 0.5s;  
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#menu-toggle {
  cursor: pointer;
}

.dropdown-menu{
  border-radius: 0;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/

#artimg {
  white-space: nowrap;
  list-style: none;
  padding: 2%;
  max-width: 1366px;
}

#artimg li {
  list-style: none;
  display: inline;
  padding: 1%;
}

#artpane {
  overflow-x: auto;
}

/*General row styles*/
.row,
.row-fluid {
  margin-right: 0px;
  margin-left: 0px;
}
#br1 {
  background-color: rgb(220,220,220);
  font-size: 1px;
}

/*Custom Font Sizes*/
.big {
  font-size: 500%;
}
.small {
  font-size: 10px;
}

/*Custom Border Styles*/
.border-left {
  border-left: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(220,220,220);
}
.border-right {
  border-right: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(220,220,220);
}
.border {
  border: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(220,220,220);
}

/*Custom Button Styles*/
.btn {
  border-radius: 0;
}
.btn-primary {
  background-color: rgb(38,80,200);
  border-width: 2px;
  border-color: rgb(38,80,200);
    -webkit-transition: color 0.5s;
    transition: 0.5s; 
}
.btn-primary:hover {
  border-color: #000000;
  background-color: rgb(38,80,200);
}

/*Projects/////////////////////////////////////////////////////////*/
/*#projlist {
  height: 700px;
  overflow-y: auto;
  overflow-x:hidden;
}*/

#proj1close:hover, #proj2close:hover, #proj3close:hover {
  cursor: pointer;
}

#project1 {
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*Artworks Section Styles//////////////////////////////////////////*/
#heart {
  -webkit-transition: font-size 0.2s ease;
  -moz-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
  color:rgb(0,99,177)  
}
#heart:hover {
  font-size: 120%;
}

/*Blog Section Styles/////////////////////////////////////////*/
#blogpane a:hover {
  text-decoration: none;
}

/*Media Queries////////////////////////////////////////////////////*/
@media (max-width: 480px) {
  #nav {
    display: none;
  }
}
@media (min-width: 481px) {
  #mobnav {
    display: none;
  }
}


#logolist {
  white-space: nowrap;
  list-style: none;
  padding: 2%;
  text-align: center;
  margin-top:100px;
}

#logolist li {
  list-style: none;
  display: inline;
  margin: 2%;
}

.mycode {
  padding: 2%;
  background-color: rgb(249,242,244);
  font-family: monospace;
  color: maroon;
  margin-bottom: 2%;
  border-left: 3px solid;
  overflow-x: auto;
}